%li{id: card.id, class: 'list-group-item'}
  = link_to board_list_card_path(card.board_id, card.list_id, card), 'data-target': '#myModal', 'data-toggle': 'modal',  'data-remote': 'false' do
    = truncate(card.title, length: 18)