#board-list(style="margin: 10px" )
  .row
    .page-header
      .h2
        TODO:スター付きボード
    - @boards.each do |board|
      = render board
  .row
    .page-header
      .h2
        ユーザーボード
    - @boards.each do |board|
      = render board