#board-list(style="margin: 10px")
  - if @users_boards.blank?
    .row
      .col-sm-offset-9
        =image_tag 'arrow.png', size: 100
        %h4
          新しいボードを
          %br
          作成するにはこちら
  .row
    .page-header
      .h3
        = fa_icon('star')
        スター付きボード
    - @users_boards.where(favorite: true).each do |user_board|
      = render user_board.board
  .row
    .page-header
      .h3
        = fa_icon('user')
        ユーザーボード
    - @users_boards.where(favorite: false).each do |user_board|
      = render user_board.board