-content_for :modal_title do
  = best_in_place [@board, @list, @card], :title, as: :input

%p#notice= notice

%p
  = best_in_place [@board, @list, @card], :description, as: :textarea, place_holder: '説明を編集'
