!!! 5
%html{lang: 'en'}
  %head
  %body
    .modal-header
      %button.close{type: 'button', 'data-dismiss': 'modal', 'aria-label': 'Close'}
      %h4.modal-title
        = yield :modal_title
    .modal-body
      = yield
